<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://xsd.helmut-hummel.de/ns/TYPO3/CMS/Fluid/ViewHelpers">

<f:layout name="Error/ErrorBlock" />

<f:section name="Main">
    <p><f:translate key="form.wrong_configuration.error_message" extensionName="formz" /></p>

    <ul>
        <f:for each="{result.flattenedErrors}" key="property" as="errors">
            <li>
                {property}
                <ul>
                    <f:for each="{errors}" as="error">
                        <li>{error}</li>
                    </f:for>
                </ul>
            </li>
        </f:for>
    </ul>
</f:section>

</html>
