<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://xsd.helmut-hummel.de/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:formz="http://typo3.org/ns/Romm/Formz/ViewHelpers">

<f:layout name="{layout}" />

<f:section name="Label">
	<label for="{fieldId}">{label}</label>
</f:section>

<f:section name="Field">
    <formz:renderSlot slot="Field" />
</f:section>

<f:section name="Feedback">
	<formz:renderSlot slot="Feedback.Out.Before" />

	<div formz-field-feedback-container="{fieldName}">
		<formz:renderSlot slot="Feedback.In.Before" />

		<div formz-field-feedback-list="{fieldName}">
            <f:form.validationResults for="{formName}.{fieldName}">
				<f:if condition="{validationResults.errors}">
					<div class="error">
						<f:for each="{validationResults.errors}" as="error">
							<formz:formatMessage message="{error}" />
						</f:for>
					</div>
				</f:if>
				<f:if condition="{validationResults.warnings}">
					<div class="warning">
						<f:for each="{validationResults.warnings}" as="warning">
							<formz:formatMessage message="{warning}" />
						</f:for>
					</div>
				</f:if>
				<f:if condition="{validationResults.notices}">
					<div class="info">
						<f:for each="{validationResults.notices}" as="notice">
							<formz:formatMessage message="{notice}" />
						</f:for>
					</div>
				</f:if>
            </f:form.validationResults>
		</div>

		<formz:renderSlot slot="Feedback.In.After" />
	</div>

	<formz:renderSlot slot="Feedback.Out.After" />
</f:section>

</html>
